<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Pow imóveis:.</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="../css/chat.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="chat chat-open chat_2">
            <div class="titulo">
                William Schueda <span class="typing" style="display: none"></span>
                <i class="fa fa-close" data-item="2"></i>
            </div>
            <div class="conteudo">
                <div class="me">
                    <span class="mensagens">
                        teste
                    </span>
                </div>
                <div class="me">
                    <span class="mensagens">
                        teste
                    </span>
                </div>
                <div class="me">
                    <span class="mensagens">
                        teste
                    </span>
                </div>
                <div class="you">
                    <span class="mensagens">
                        cara mas voce ja testou tudo mesmo?
                    </span>
                </div>
            </div>
            <div class="mensagem">
                <form id="ChatMensagem">
                    <input type="text" name="mensagem" class="input-mensagem" placeholder="Escreva a mensagem aqui" autocomplete="off" data-item="2">
                </form>
            </div>
        </div>
    </body>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="../js/moment.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="../js/chat.js"></script>
</html>
